html, body {
  height: 100%;
  width: 100%;
  font-family: arial;
  margin: 0px;
  padding: 0px;
}

body {
  background: aliceblue;
}

header {
  margin: 0px; 
  padding: 5px;
  background-color: white;
  text-align: center;
  
nav {
  background: azure;
}

#meet-us {
  background: silver;
}

nav ul {
list-style-type: none;
padding: 0px;
margin: 0px;
}

   nav li {
      display: inline-block;
      padding: 5px;
    }
P {
  text-align: center;
}

footer {
  padding: 10px;
}

img {
  margin: 20px;
}
